{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<br><br>
<h3>{{msg}}</h3>
<center><h2>List of buses</h2></center>
<table class="table table-striped">
    <thead style="background-color: #5cb874; color: white; ">
    <td style="border: 1px solid black; padding: 10px;">BOOKING ID</td>
    <td style="border: 1px solid black; padding: 10px;">USER NAME</td>
    <td style="border: 1px solid black; padding: 10px;">BUS NAME</td>
    <td style="border: 1px solid black; padding: 10px;">SOURCE</td>
    <td style="border: 1px solid black; padding: 10px;">DESTINATION</td>
    <td style="border: 1px solid black; padding: 10px;">NUM OF SEATS</td>
    <td style="border: 1px solid black; padding: 10px;">PRICE</td>
    <td style="border: 1px solid black; padding: 10px;">DATE</td>
    <td style="border: 1px solid black; padding: 10px;">TIME</td>
    <td style="border: 1px solid black; padding: 10px;">STATUS</td>

    </thead>


    {% for row in book_list %}
    <tr>
        <td style="border: 1px solid black; padding: 10px;">{{row.id}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.name}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.bus_name}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.source}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.dest}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.nos}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.price}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.date}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.time}}</td>
        <td style="border: 1px solid black; padding: 10px;">{{row.status}}</td>
    </tr>
    {% endfor %}

</table>
<form action="{% url 'cancellings' %}" method="post">
    <h3>Choose bus to book</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Bus ID</label>
        <div class="col-5">
            <input name='bus_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">Cancel bus</button>
    </div>


    {{error}}
</form>

{% endblock %}